<%= turbo_frame_tag dom_id(@user), class: 'w-full' do %>
    <div class="flex flex-col mx-auto gap-y-5">
      <% if notice.present? %>
        <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
      <% end %>

      <%= render @user %>
    </div>
<% end %>
